includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	level: 10
	paths:
		- src/BCPayments
		- src/BCDonations
		- src/SharedKernel
		- src/SharedApplication
		- src/SharedInfrastructure
		- tests
		- src/Controller/Admin/CQRS
	excludePaths:
		- tests/Unit/Payum/ActivateSubscriptionExtensionTest.php
		- tests/Integration/Subscription/SubscriptionManagerTest.php
		- tests/Functional/Controller/IndexControllerTest.php
	symfony:
		containerXmlPath: var/cache/test/phpstan/ErgoSarapu_DonationBundle_Tests_Helpers_DonationBundleTestingKernelTestDebugContainer.xml
