includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	level: 10
	paths:
		- src/BCPayments
		- src/BCDonations
		- src/SharedKernel
		- src/SharedApplication
		- src/SharedInfrastructure
		- tests
		- src/Controller/Admin/CQRS
	symfony:
		containerXmlPath: var/cache/test/phpstan/ErgoSarapu_DonationBundle_Tests_Helpers_DonationBundleTestingKernelTestDebugContainer.xml
