{% extends '@Donation/base.html.twig' %}

{% block title %}{{ campaign.publicTitle }}{% endblock %}

{% block body %}
    <div class="container mx-auto xl:px-48">
        <div class="grid grid-cols-8">
            <div class="lg:col-span-5 col-span-8">
                <div class="p-8 m-8 prose prose-slate">
                    <h1>
                        Hello Donation Bundle!
                    </h1>
                    <p class="lead">This is the default landing page of Donation Bundle. Create a nice looking landing page for your donation campaign!</p>
                    <p>
                        Override <code>base.html.twig</code> to include assets properly and <code>landing.html.twig</code> to style the campaign page.
                    </p>
                    <p>To add donation form, use
                        <blockquote class="not-italic">
                            <code>&lt;twig:DonationForm :form="form" :donationData="donationData" :step="step" :currentUrl="currentUrl" :previousUrl="previousUrl" /&gt;</code>
                        </blockquote>
                        in your twig template.
                    </p>
                </div>
            </div>
            <div class="p-8 m-8 lg:col-span-3 col-span-8 lg:order-none order-first">
                <twig:DonationForm :form="form" :donationData="donationData" :step="step" :currentUrl="currentUrl" :previousUrl="previousUrl"/>
            </div>
        </div>
    </div>
{% endblock %}
