{% extends '@Donation/base.html.twig' %}

{% block body %}
    <div class="container mx-auto h-screen">
        <div class="flex items-center h-full justify-center">
            <p>Suunamine...</p>
        </div>
    </div>

    <a class="hidden" {{ stimulus_controller('auto-click') }} href="{{ targetUrl }}" target="_parent">Click here to redirect</a>
{% endblock %}
